#hero {
    display: flex;
    align-items: center;
    padding-top: 20vh;
    padding-bottom: 30vh;
}

.heroContentWrapper {
    font-family: "Roboto";
    width: 100%;
    transform: translateY(300px);
    opacity: 0;

    transition: transform 1s, opacity 2s;
}

.headshot-container img {
    width: 100%;
    object-fit: cover;
    object-position: right;
}

#line-hero {
    width: 25%;
    height: 7px;
}

#introduction-container {
    max-width: 546px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#introduction-about {
    max-width: 342px;
    justify-self: end;

    & p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
    }

    & .linkup-container {
        margin-top: 40px;

    }
}

#linkup-icons-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    & .linkup-icon {
        height: 100%;
        cursor: pointer;
    }
}



.title-text-container {
    width: 100%;

    & h1 {
        font-size: clamp(3.8rem, 6vw, 4.75rem);
        margin: 0;

        & span {
            color: var(--purple);
        }
    }
}

#learn-more-about {
    background: none;
    border: none;
    border-bottom: 2px solid var(--card);
    padding-bottom: 5px;
    color: var(--white);
    font-size: 20px;
    cursor: pointer;

    &:hover {
        color: var(--purple);
    }
}

.scroll-down-btn {
    height: 80px;
    width: 80px;
    background-color: var(--purple);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        background-image: url('../resources/icons8-arrow-down-60.png');
        background-size: cover;
        height: 30px;
        width: 30px;
        animation: arrow-down 2s ease-in-out infinite;
    }
}


@keyframes arrow-down {
    20% {
        transform: translateY(-15px);
    }

    40% {

        transform: translateY(15px);
    }
}




.show {
    opacity: 1;
    transform: translateX(0);
}

@media (max-width: 600px) {
    .title-text-container {

        & h1 {
            font-size: clamp(2.8rem, 9vw, 4.75rem);
            margin: 0;
        }
    }

    #introduction-about {

        & h2 {
            font-size: clamp(1.25rem, 4.2vw, 4.75rem);
        }

        & p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }

        & .linkup-container {
            margin-top: 40px;

        }
    }


    .scroll-down-btn {
        height: 65px;
        width: 65px;

        &::before {
            content: '';
            height: 25px;
            width: 25px;
        }
    }
}