@font-face {
    font-family: "Space Mono";
    src: url("../fonts/SpaceMono-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

:root {
    --white: #F2F2F2;
    --black: #000000;
    --light-grey: #E0E0E0;
    --grey: #B6BAC3;
    --purple: #5F49F2;

    --border-radius: 10px;
}


body {
    margin: 0;
    background: var(--white);
    /* font-size: 1.25rem; */
    color: var(--black);
    position: relative;
}

/*__________________Landing page*/
header {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 6vw;
    border-bottom: 2px solid var(--grey);
    font-family: "Space Mono";

    & .menuContainer {
        display: flex;
        gap: 1rem;
    }
}

#hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.heroContentWrapper {
    font-family: "Roboto";

    & .grettingsContainer {
        margin-bottom: 10px;

        & h3,
        h1 {
            margin: 0;
        }

        & h1 {
            font-size: 52px;
        }

        & span {
            color: var(--purple);
        }
    }

    & .figureTitleContainer {
        display: flex;
        gap: 4rem;

        & .titleTextContainer {
            width: 620px;
        }

        & h2 {
            font-size: 52px;
            margin: 0;
        }

        & #tabSpace {
            margin-left: 200px;
        }


    }
}

figure {
    margin: 0;
    height: 300px;
    width: 300px;
    /* background-color: var(--light-grey); */
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    & div {
        border-radius: 50%;
        background-color: var(--light-grey);
        transition: background-color 1s;
    }
}


/*__________________Scroller bar*/
.scroller {
    font-family: "Roboto";
    background-color: var(--black);
    margin: 0 20px;
    border-radius: var(--border-radius);
    padding-block: .75rem;
    overflow: hidden;

    & .innerScroller {
        display: flex;
        padding-left: 0;
        width: max-content;
        gap: 1rem;
        /* animation: scroll 20s linear infinite; */
    }

    & li {
        font-size: 30px;
        list-style: none;
        color: var(--white);
        flex-shrink: 0;
    }

    & li:nth-child(odd) {
        color: var(--purple);
    }
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

#projects {
    margin: 0 20px;
}

.sectionTitle {
    font-size: 30px;
    font-family: "Space Mono";
    display: inline;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 15px;
        right: -35px;
        height: 20px;
        width: 20px;
        background-color: #5F49F2;
    }
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    height: 800px;

    & .projectBox {
        border-radius: var(--border-radius);
        background-color: #303030;
    }
}