@font-face {
    font-family: "Space Mono";
    src: url("../fonts/SpaceMono-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

:root {
    --white: #FFFFFF;
    --background-grey: #ddd;
    --black: #000000;
    --light-grey: #E0E0E0;
    --grey: #B6BAC3;
    --purple: #5F49F2;

    --border-radius: 10px;
    --sectionTitle: 35px;
    --border-thic: 2px;
    --cross-pos: 30px;
}